:host {
  display: flex;
  flex-direction: column;
  position: absolute;
}

mat-card {
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  padding: 8px;
}

button {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  padding: 0;
  min-width: 0;

  .dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
  }
}
